{% extends "base.html" %}

{% block title %}Add{% endblock %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBZRxuya4tR7SFOmf2dHAMikvaxEGP_OY"></script>

<script>
    var map;
    var marker;
    var inner_marker;
    var inner_inner_marker;
    var cur_lat;
    var cur_long;
    var center;

    function initMap() {
        console.log("Initializing map...")
        new Promise((resolve, reject) => {
            navigator.geolocation.getCurrentPosition(function (position) {
                cur_lat = position.coords.latitude;
                cur_long = position.coords.longitude;
                center = { lat: position.coords.latitude, lng: position.coords.longitude };
                console.log("Latitude:", cur_lat, "Longitude:", cur_long);
                resolve(); 
            }, function (error) {
                console.error("Error occurred while getting location:", error);
                reject(error);  
            });
        }).then(() => {

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: center,
            });

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });

            document.getElementById('slide').addEventListener('input', function () {
                update_marker();
            });
        });
    }

    function placeMarker(location) {
        if (marker) {
            marker.setCenter(location)
            inner_marker.setCenter(location)
            inner_inner_marker.setCenter(location)
        } else {
            marker = new google.maps.Circle({
                strokeColor: '#097969',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#023020',
                fillOpacity: 0.35,
                map: map,
                center: location,
                radius: parseInt(document.getElementById('slide').value)
            });

            inner_marker = new google.maps.Circle({
                strokeColor: '#0BDA51',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#00A36C',
                fillOpacity: 0.35,
                map: map,
                center: location,
                radius: marker.radius / 1.5
            });

            inner_inner_marker = new google.maps.Circle({
                strokeColor: '#AFE1AF',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#4F7942',
                fillOpacity: 0.35,
                map: map,
                center: location,
                radius: marker.radius / 3
            });
        }

        document.getElementById('id_location').value = location.lat() + ',' + location.lng();
        document.getElementById('id_radius').value = marker.getRadius();
    }

    function update_marker() {
        marker.setRadius(parseInt(document.getElementById('slide').value))
        inner_marker.setRadius(parseInt(document.getElementById('slide').value) / 1.5)
        inner_inner_marker.setRadius(parseInt(document.getElementById('slide').value) / 3)
        document.getElementById('id_radius').value = marker.getRadius();
    }
    
    initMap();
</script>

<div style="align-self: center;">
    <div id="map" style="height: 500px; width: 60%; align-self: center;"></div>
    <form method="post">
        {% csrf_token %}
        {{ form.name.label_tag }} {{ form.name }}
        <br>
        {{ form.description.label_tag }} {{ form.description }}
        <br>
        {{ form.hint.label_tag }} {{ form.hint }}
        <br>
        {{ form.location }}
        <br>
        {{ form.radius }}
        <label>Radius:</label>
        <input id="slide" type="range" min="1" max="200" value="50">
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}