{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='/static/style.css?{% now "U" %}'>
    <link rel="shortcut icon" type="image/svg" href="/static/images/favicon.svg">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
</head>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="btn btn-outline-success navbar-brand " href="{% url 'add' %}">New GeoCache</a>
    <a class="btn btn-outline-success navbar-brand" href="{% url 'catalog' %}">Cache Center</a>
    <a class="btn btn-outline-success navbar-brand" href="{% url 'pending' %}">Pending Caches</a>
    <a class="btn btn-outline-success navbar-brand" href="{% url 'leaderboard' top=1 %}">Leaderboard</a>
    {% if user.is_admin %}
        <a class="btn btn-outline-success navbar-brand" href="{% url 'approve' %}">Approve</a>
    {% endif %}
    <a class="btn btn-outline-success navbar-brand" href="{% url 'logout' %}">Logout</a>
</nav>

<body>
    {% block content %}{% endblock %}
</body>


<footer class="footer py-3 my-4 border-top">
    <div class="container d-flex justify-content-between">
        <p class="mb-0 text-muted">© 2023 Group B-05</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#">Terms</a></li>
            <li class="ms-3"><a class="text-muted" href="#">Privacy</a></li>
            <li class="ms-3"><a class="text-muted" href="#">Support</a></li>
        </ul>
    </div>
</footer>
</html>