{% extends "base.html" %}

{% block title %} Cache {{ geocache.lat }} {{ geocache.lng }}{% endblock %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBZRxuya4tR7SFOmf2dHAMikvaxEGP_OY"></script>
<script>
    var map;
    var lat = "{{ geocache.lat }}"
    var lng = "{{ geocache.lng }}"
    var radius = "{{ geocache.radius }}"

    function initMap() {
        var marker;
        var inner_marker;
        var inner_inner_marker;

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: { lat: +lat, lng: +lng },
            scrollwheel: false,
            draggable: false
        });

        marker = new google.maps.Circle({
            strokeColor: '#097969',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#023020',
            fillOpacity: 0.35,
            map: map,
            center: { lat: +lat, lng: +lng },
            radius: parseInt(radius)
        });

        inner_marker = new google.maps.Circle({
            strokeColor: '#0BDA51',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#00A36C',
            fillOpacity: 0.35,
            map: map,
            center: { lat: +lat, lng: +lng },
            radius: marker.radius / 1.5
        });

        inner_inner_marker = new google.maps.Circle({
            strokeColor: '#AFE1AF',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#4F7942',
            fillOpacity: 0.35,
            map: map,
            center: { lat: +lat, lng: +lng },
            radius: marker.radius / 3
        });

    }


</script>


<style>
    .comments-section {
        margin-top: 20px;
    }

    #findForm {
        display: inline;
        width: 16rem;
    }

    #reportFindButton {
        display: inline;
    }

    #map {
        height: 24rem; 
        width: 32rem; 
        align-self: center;

        margin-left: 2rem;
    }

    .split {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        flex-wrap: nowrap;
    }

    .info {
        position: relative;
        max-width: 32rem;
        word-break break-all;
        overflow: hidden;
        overflow-wrap: break-word;
    }
    .loggingContainer {
        position: absolute;
        bottom: 0;
        whitespace: no-break;
        overflow: hidden;
        display: inline-block;
        width: 100%;
    }
    #showHintButton {
        margin-right: 1rem;
    }
</style>

<body onload="initMap()">
    <div>
        <div class="split">
            <div class="info">
                <h1>
                    {{ geocache.name|title }}
                    {% if user.is_admin or user == geoache.cacher%}
                        <a class="btn btn-danger" href="{% url 'confdelete' pk=geocache.pk %}">Delete</a>
                    {%endif%}
                    {% if user.is_admin %}
                        {% if not geocache.active and not geocache.declined %}
                            <a class="btn btn-primary" href="{% url 'checkoff' pk=geocache.pk %}">Approve</a>
                            <a class="btn btn-warning" href="{% url 'decline' pk=geocache.pk %}">Decline</a>
                        {% elif geocache.declined %}
                            <a class="btn btn-primary" href="{% url 'checkoff' pk=geocache.pk %}">Approve</a>
                            <br/>
                            <span style="color: red; font-size: 1rem">Declined by {{geocache.admin|title}}</span>
                        {% elif not geocache.declined %}
                            <a class="btn btn-warning" href="{% url 'decline' pk=geocache.pk %}">Decline</a>
                            <br/>
                            <span style="color: green; font-size: 1rem">Approved by {{geocache.admin|title}}</span>
                        {% endif %}
                    {% endif %}
                </h1>
                

                <p>Placed on {{ geocache.cache_date }} by
                    <a href="{% url 'profile' pk=geocache.cacher.pk %}">{{ geocache.cacher.first_name }} {{ geocache.cacher.last_name }}</a>
                </p>
                <p>Description: {{ geocache.description }}</p>
                {% if has_password %}
                    {% if geocache.cacher == user %}
                        <p>Password: {{ geocache.password }}</p>
                    {% endif %}
                {% endif %}

                <div class="hints">
                    <button id="showHintButton" class="btn btn-primary">Show Hint</button>
                    <span class="gray" style="font-style: italic" id="hintContainer"></span>
                </div>
                <script>
                    let currentHintIndex = 0;
                    let hints = [{% for hint in hints%} "{{hint}}",{% endfor %}];
                    let hintButton = document.getElementById('showHintButton')
                    let hintText = document.getElementById('hintContainer');

                    if(hints.length == 0) {
                        hintButton.remove();
                        hintText.remove();
                    }
                    
                    hintButton.addEventListener('click', function () {
                        console.log("here")
                        if (currentHintIndex < hints.length) {
                            hintText.innerText = hints[currentHintIndex];
                            currentHintIndex++;
                            this.innerText = 'Show Another Hint';
                        } else {
                            this.disabled = true;
                            this.innerText = 'No More Hints';
                        }
                    });
                </script>
                <br>


                {% if not geocache.declined %}
                    <div class="loggingContainer">
                        <button class="btn btn-primary" id="reportFindButton">Log Find</button>
                        {% if has_password %}
                            <input id="findInput" type="search" 
                            style="display: inline; max-width: 14rem; min-width: 0"
                            class="form-control" placeholder="Cache Password"
                            aria-label="Search">
                        {% endif %}
                    </div>
                    
                    <script>
                        let handleSubmit = function (event) {
                            event.preventDefault();
                            let pk = {{ geocache.pk }};

                            let findInput = document.getElementById('findInput');
                            let password = "";
                            if (findInput) password = findInput.value;

                            if(password.length > 0) {
                                window.location.href = '/find/' + pk + '/' + encodeURIComponent(password);
                            } else {
                                window.location.href = '/find/' + pk;
                            }
                        }
                        document.getElementById('reportFindButton').onclick = handleSubmit;

                    </script>

                {% endif %}
            </div>

                <div id="map"></div>
            </div>
        <div>
        
        <h2>Finds ({{geocache.find_count}})</h2>
        <div class="list-group">
            {% for find in finds %}
            <a class="list-group-item list-group-item-action">
                {{ find.finder.first_name }} {{ find.finder.last_name }} on {{ find.timestamp|date:"N j, Y g:i " }}
            </a>
            {% empty %}
            <p class="list-group-item">No finds yet.</p>
            {% endfor %}
        </div>

        <h2>Comments</h2>
        {% if user_has_find %}
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ form.text.label_tag }} {{ form.text }}
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {% endif %}

        <div class="comments-section">
            {% for comment in comments %}
            <div class="card mb-3" >
                <div style="font-size: 0.75rem; border-radius: 0.25rem;" class="card-header">
                    Commented by <a href="{%url 'profile' pk=user.pk%}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a> on {{ comment.date }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ comment.text }}</p>
                </div>
            </div>
            {% empty %}
            <p>No comments yet.</p>
            {% endfor %}
        </div>

        </div>
    </div>
</body>

{% endblock %}