{% extends "base.html" %}

{% block title %} Cache {{ geocache.lat }} {{ geocache.lng }}{% endblock %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBZRxuya4tR7SFOmf2dHAMikvaxEGP_OY"></script>
<script>
    var map;
    var lat = "{{ geocache.lat }}"
    var lng = "{{ geocache.lng }}"
    var radius = "{{ geocache.radius }}"

    function initMap() {
        var marker;
        var inner_marker;
        var inner_inner_marker;

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: { lat: +lat, lng: +lng },
            scrollwheel: false,
            draggable: false
        });

        console.log(radius);
        console.log(typeof radius);

        marker = new google.maps.Circle({
            strokeColor: '#097969',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#023020',
            fillOpacity: 0.35,
            map: map,
            center: { lat: +lat, lng: +lng },
            radius: parseInt(radius)
        });

        inner_marker = new google.maps.Circle({
            strokeColor: '#0BDA51',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#00A36C',
            fillOpacity: 0.35,
            map: map,
            center: { lat: +lat, lng: +lng },
            radius: marker.radius / 1.5
        });

        inner_inner_marker = new google.maps.Circle({
            strokeColor: '#AFE1AF',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#4F7942',
            fillOpacity: 0.35,
            map: map,
            center: { lat: +lat, lng: +lng },
            radius: marker.radius / 3
        });

    }


</script>

<style>
    .comments-section {
        margin-top: 20px;
    }

    .card {
        margin-bottom: 10px;
        border: 1px solid #513523;
    }

    .card-header {
        background-color: #7f5539;
        font-weight: bold;
    }

    .card-body {
        background-color: #ffffff;
    }

    .card-text {
        color: #333;
    }
</style>

<body onload="initMap()">
    <div>
        <div>
            <h1>
                {{ geocache.name|title }}
                {% if user.is_admin %}
                {% if not geocache.active and not geocache.declined %}
                <a class="btn btn-primary" href="{% url 'checkoff' pk=geocache.pk %}">Approve</a>
                <a class="btn btn-warning" href="{% url 'decline' pk=geocache.pk %}">Decline</a>
                {% elif geocache.declined %}
                <a class="btn btn-primary" href="{% url 'checkoff' pk=geocache.pk %}">Approve</a>
                <span style="color: red; font-size: 1rem">Declined by: {{geocache.admin|title}}</span>
                {% elif not geocache.declined %}
                <a class="btn btn-warning" href="{% url 'decline' pk=geocache.pk %}">Decline</a>
                <span style="color: green; font-size: 1rem">Approved by: {{geocache.admin|title}}</span>
                {% endif %}
                {% endif %}
            </h1>
            
            <p>Placed on: {{ geocache.cache_date }}
            <p>Placed by: {{ geocache.cacher.first_name }} {{ geocache.cacher.last_name }}</p>
            <p>Description: {{ geocache.description }}</p>
            <p>Hint: {{ geocache.hint }}</p>
            {% if geocache.password != "" %}
                {% if geocache.cacher == user %}
                    <p>Password: {{ geocache.password }}</p>
                {% else %}
                    <p>Password Protected</p>
                {% endif %}
            {% endif %}
            <p>Found {{ geocache.find_count }} times</p>
            {% if not geocache.declined %}
            <a class="btn btn-primary" href="{% url 'find' pk=geocache.pk %}">Report Find</a>
            {% endif %}
            <div id="map" style="height: 500px; width: 60%; align-self: center;"></div>
            <h2>Finds</h2>
            <div class="list-group">
                {% for find in finds %}
                <a class="list-group-item list-group-item-action">
                    {{ find.finder.first_name }} {{ find.finder.last_name }} on {{ find.timestamp|date:"N j, Y g:i " }}
                </a>
                {% empty %}
                <p class="list-group-item">No finds yet.</p>
                {% endfor %}
            </div>




            <h2>Comments</h2>
            {% if user_has_find %}
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form.text.label_tag }} {{ form.text }}
                <button type="submit">Submit</button>
            </form>
            {% endif %}

            <div class="comments-section">
                {% for comment in comments %}
                <div class="card mb-3">
                    <div class="card-header">
                        Commented by {{ comment.user.first_name }} {{ comment.user.last_name }} on {{ comment.date }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ comment.text }}</p>
                    </div>
                </div>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}
            </div>
            
        </div>
    </div>
</body>

{% endblock %}