{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<h1>Leaderboard</h1>
<br>
<div id="base">
    <table  border=1 frame=void rules=rows >
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 15%;">
         </colgroup>
    
         
        <tr class="table-header">
            <th>Rank</th>
            <th>Name</th>
            <th style="text-align: right;">Finds</th>
        </tr>
        {% for u in users %}     
            <tr>
                <th>{{ forloop.counter }}</th>
                <th> 
                    <a href="{% url 'profile' pk=u.pk %}">{{ u.first_name|title }} {{ u.last_name|title }}</a>
                </th>
                <th style="text-align: right;">{{u.find_count}}</th>
            </tr>
        {% endfor %}
    </table>
</div>

<style>
    table {
        width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
    }

    .table-header{
        color: gray;
    }
</style>

{% endblock %}