{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1>{{profile.first_name|title}} {{profile.last_name|title}}</h1>

{% if user.is_admin %}You are an admin user.</br>{% endif %}
<br>
<div class="container">
    <div class="column">
        <h2>Geocaches</h2>
        {% for geocache in geocaches %}
            <div class="card">
                <h3><a href="{% url 'cache' %}?lat={{geocache.lat}}&lng={{geocache.lng}}">{{geocache.name|title }}</a></h3>
            </div>
        {% empty %}
            <span class="italic" style="color: gray">You haven't made any geocaches yet.</span>
        {% endfor %}
    </div>

    <divclass="column">
        <h2>Finds ({{profile.find_count|title}})</h2>
        {% for find in finds %}
            <div class="card">
                <h3><a href="{% url 'cache' %}?lat={{find.geocache.lat}}&lng={{find.geocache.lng}}">{{ find.geocache.name|title }}</a></h3>
            </div>

        {% empty %}
            <span class="italic" style="color: gray">You haven't found any geocaches yet.</span>
        {% endfor %}
    </div>
</div>
<style>


    .column {
        width: 24rem;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
</style>

{% endblock %}